<h2>今後の貯蓄推移</h2>

<table border="5" width="600" class="stock-table">
  <thead>
    <tr>
      <th width="22%">退職後</th>
      <th width="26%">収入</th>
      <th width="26%">支出</th>
      <th width="26%">貯蓄</th>
    </tr>
  </thead>
  <tbody class="table-body">
    <tr align="right">
      <td align="center">（現在の貯蓄）</td>
      <td></td>
      <td></td>
      <td id="stock-0" class="stock-cell">0</td>
    </tr>
    <tr align="right">
      <td align="center">1ヶ月</td>
      <td id="income-sell-1">0</td>
      <td id="spending-sell-1" class="spending-sell">16,540</td>
      <td id="stock-1" class="stock-cell"></td>
    </tr>
    <tr align="right">
      <td align="center">2ヶ月</td>
      <td id="income-sell-2">0</td>
      <td id="spending-sell-2" class="spending-sell">16,540</td>
      <td id="stock-2" class="stock-cell"></td>
    </tr>
    <tr align="right">
      <td align="center">3ヶ月</td>
      <td id="income-sell-3">0</td>
      <td id="spending-sell-3" class="spending-sell">16,540</td>
      <td id="stock-3" class="stock-cell"></td>
    </tr>
    <tr align="right">
      <td align="center">4ヶ月</td>
      <td id="income-sell-4">0</td>
      <td id="spending-sell-4" class="spending-sell">16,540</td>
      <td id="stock-4" class="stock-cell"></td>
    </tr>
    <tr align="right">
      <td align="center">5ヶ月</td>
      <td id="income-sell-5">0</td>
      <td id="spending-sell-5" class="spending-sell">16,540</td>
      <td id="stock-5" class="stock-cell"></td>
    </tr>
    <tr align="right">
      <td align="center">6ヶ月</td>
      <td id="income-sell-6">0</td>
      <td id="spending-sell-6" class="spending-sell">16,540</td>
      <td id="stock-6" class="stock-cell"></td>
    </tr>
    <tr align="right">
      <td align="center">7ヶ月</td>
      <td id="income-sell-7">0</td>
      <td id="spending-sell-7" class="spending-sell">16,540</td>
      <td id="stock-7" class="stock-cell"></td>
    </tr>
    <tr align="right">
      <td align="center">8ヶ月</td>
      <td id="income-sell-8">0</td>
      <td id="spending-sell-8" class="spending-sell">16,540</td>
      <td id="stock-8" class="stock-cell"></td>
    </tr>
    <tr align="right">
      <td align="center">9ヶ月</td>
      <td id="income-sell-9">0</td>
      <td id="spending-sell-9" class="spending-sell">16,540</td>
      <td id="stock-9" class="stock-cell"></td>
    </tr>
    <tr align="right">
      <td align="center">10ヶ月</td>
      <td id="income-sell-10">0</td>
      <td id="spending-sell-10" class="spending-sell">16,540</td>
      <td id="stock-10" class="stock-cell"></td>
    </tr>
    <tr align="right">
      <td align="center">11ヶ月</td>
      <td id="income-sell-11">0</td>
      <td id="spending-sell-11" class="spending-sell">16,540</td>
      <td id="stock-11" class="stock-cell"></td>
    </tr>
    <tr align="right">
      <td align="center">12ヶ月</td>
      <td id="income-sell-12">0</td>
      <td id="spending-sell-12" class="spending-sell">16,540</td>
      <td id="stock-12" class="stock-cell"></td>
    </tr>
  </tbody>
</table>