<h2>今後の貯蓄推移</h2>

<table border="5" width="600">
  <thead>
    <tr>
      <th width="22%">退職後</th>
      <th width="26%">収入</th>
      <th width="26%">支出</th>
      <th width="26%">貯蓄</th>
    <tr>
  </thead>
  <tbody>
    <tr>
      <td>（現在の貯蓄）</td>
      <td></td>
      <td></td>
      <td id="stock0"></td>
    <tr>
    <tr>
      <td>1ヶ月</td>
      <td id="income-sell-1"></td>
      <td id="spending-sell-1" class="spending-sell"></td>
      <td></td>
    <tr>
    <tr>
      <td>2ヶ月</td>
      <td id="income-sell-2"></td>
      <td id="spending-sell-2" class="spending-sell"></td>
      <td></td>
    <tr>
    <tr>
      <td>3ヶ月</td>
      <td id="income-sell-3"></td>
      <td id="spending-sell-3" class="spending-sell"></td>
      <td></td>
    <tr>
    <tr>
      <td>4ヶ月</td>
      <td id="income-sell-4"></td>
      <td id="spending-sell-4" class="spending-sell"></td>
      <td></td>
    <tr>
    <tr>
      <td>5ヶ月</td>
      <td id="income-sell-5"></td>
      <td id="spending-sell-5" class="spending-sell"></td>
      <td></td>
    <tr>
    <tr>
      <td>6ヶ月</td>
      <td id="income-sell-6"></td>
      <td id="spending-sell-6" class="spending-sell"></td>
      <td></td>
    <tr>
    <tr>
      <td>7ヶ月</td>
      <td id="income-sell-7"></td>
      <td id="spending-sell-7" class="spending-sell"></td>
      <td></td>
    <tr>
    <tr>
      <td>8ヶ月</td>
      <td id="income-sell-8"></td>
      <td id="spending-sell-8" class="spending-sell"></td>
      <td></td>
    <tr>
    <tr>
      <td>9ヶ月</td>
      <td id="income-sell-9"></td>
      <td id="spending-sell-9" class="spending-sell"></td>
      <td></td>
    <tr>
    <tr>
      <td>10ヶ月</td>
      <td id="income-sell-10"></td>
      <td id="spending-sell-10" class="spending-sell"></td>
      <td></td>
    <tr>
    <tr>
      <td>11ヶ月</td>
      <td id="income-sell-11"></td>
      <td id="spending-sell-11" class="spending-sell"></td>
      <td></td>
    <tr>
    <tr>
      <td>12ヶ月</td>
      <td id="income-sell-12"></td>
      <td id="spending-sell-12" class="spending-sell"></td>
      <td></td>
    <tr>
    
  </tbody>
</table>