<div class="header">

  <div class="header-right">
    <h1>転職とお金について考えるアプリ</h1>
  </div>

  <div class="header-left">
    <ul class="header-menu">
      <li class="header-menu-list">ログイン</li>
      <li class="header-menu-list">利用規約</li>
    </ul>
  </div>

</div>