<div class="header">

  <div class="header-right">
    <h1>退職前にお金について整理するサイト</h1>
  </div>

  <div class="header-left">
    <ul class="header-menu">
      <li class="header-menu-list">利用規約</li>
    </ul>
  </div>

</div>