<h4>利用規約</h4>
<div class="terms-box">
  <p>退職後のお金について整理するサイト（以下、当サイト）は下記の事項に同意のうえ、ご利用ください。</p>
  <ul>
    <li>当サイトで得られる結果はあくまでも参考目安であり、内容をお約束するものではありません。</li>
    <li>当サイトの情報から不利益が生じた場合でも、当方は一切の責任を負うことはできません。</li>
    <li>リンク先外部サイトと当サイトは無関係です。リンク先内容のご質問やお問い合わせは受け付けられません。</li>
    <li>情報を最新に保つよう心がけておりますが、過去の情報が記載されている場合もございます。</li>
  </ul>
  <p class="finish">以上</p>
</div>
<div class="js-modal-close close-btn">閉じる</div>