a{
  color: #000;
  text-decoration: none;
}

.main{
  background-image: image-url('leaves.jpg') ;
  background-size:400px ;
  background-repeat: repeat;
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
  padding: 30px 0;
}

.calc-wrapper{
  width: 800px;
  margin: 0 auto 20px;
  padding: 30px;
  background-color:#fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.top-message{
  margin: 0 auto;
  width: 650px;
}

.spendings{
  margin-top: 30px;
}

.incomes{
  margin-top: 30px;
}

.h2-box{
  display: flex;
}

.h2-image{
  height:40px;
  margin-left:10px ;
}


.content-box{
  margin-top: 30px;
}

.content{
  margin-top: 15px;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.price-form{
  border: 1px solid #888888;
  border-radius: 3px;
  margin: 0 5px 0 40px ;
  text-align: end;
  padding-right:10px ;
  height: 25px;
  width: 100px;
}

.radio-box{
  display: flex;
}

.radio{
  margin:15px 30px 0 15px;
}

.sum-box{
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
  font-size: 20px;
}

.sum-title{
  margin-right: 30px;
}

.sum-price-box{
  display: flex;
  justify-content: flex-end;
  width: 140px;
  border-bottom: 1px solid black;
}

.sum {
  margin-right: 10px;
}

.stocks{
  margin-top: 30px;
}

.create-table{
  margin-top: 60px ;
  display: flex;
  justify-content: center;
}

.create-btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  width: 25%;
  margin: 0 5px;
}
.create-btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
  margin-top:4px;
}

.reset-btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #838a97;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  width: 25%;
  margin: 0 5px;
}
.reset-btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
  margin-top:4px;
}

.table-wrapper{
  width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color:#fff;
  border-radius: 10px;
  display: none;
  box-shadow: 0 0 10px rgba(0,0,0,.3);

}

.stock-table{
  margin: 30px auto;
}

.minus {
  color: red;
}

.error-massage{
  color: red;
  text-align: right;
}