a{
  color: #000;
  text-decoration: none;
}

.main{
  background-color: #ddd;
  padding: 30px 0;
}

.calc-wrapper{
  width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color:#fff;
  border-radius: 10px;
}

// モーダルウィンドウ
.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.modal_bg{
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal_content{
  background: #fff;
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}
// モーダルウィンドウ 

.spendings{
  margin-top: 30px;
}

.incomes{
  margin-top: 30px;
}

h4>i{
  cursor: pointer;
}

.content-box{
  margin-top: 25px;
}

.content{
  margin-top: 15px;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.price-form{
  border: 1px solid #888888;
  border-radius: 3px;
  margin: 0 5px 0 40px ;
  text-align: end;
  padding-right:10px ;
  height: 25px;
  width: 100px;
}

.sum-box{
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
  font-size: 20px;
}

.sum-title{
  margin-right: 30px;
}

.sum {
  margin-right: 10px;
}