.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.modal_bg{
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal_content{
  background: #fff;
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}

.modal_content i{
  padding-right: 1em;
}

.js-modal-close{
  text-align: center;
}

.close-btn{
  margin-top: 30px;
  cursor: pointer;
}

.discribe-box{
  padding: 30px 0 ;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.discribe{
  padding: 20px 20px 20px 0;
  width: 65%;
}

.discribe p{
  line-height: 1.8;
}

.image-box{
  width: 35%;
  display: flex;
  align-items: center;
}

.modal-image{
  width: 100%;
}

.terms-box p{
  margin:10px 0 20px;
}

.terms-box ul{
  margin-left: 30px;
}

.finish{
  text-align: right;
}